.contacts {
    font-size: rem(21px);
    font-style: normal;

    @include phones {
        margin-bottom: rem(10px);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}