

.headline {
    text-align: center;
}

.headline__title {
    margin-bottom: rem(11px);

    @include phones {
        font-size: rem(40px);
    }

    @include old-phones {
        font-size: rem(32px);
    }
}

.headline__subtitle {
    padding: 0 27%;
    margin-bottom: rem(42px);

    @include phones {
        padding: 0 5%;
    }

}
