.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include tablets {
        align-items: center;
    }
}

.logo {
    flex-shrink: 0;
}

.phone-number {
    font-size: rem(24px);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.phone-number__icon {
    width: rem(12px);
    height: rem(12px);
    margin-right: rem(6px);
    flex-shrink: 0;
}

.phone-number__text {
    white-space: nowrap;
}

.header__phone-number {
    @include tablets {
        display: none;
    }
}