.hero {
    background: url('/images/bg/surfers.png') center bottom 25% / cover no-repeat;
    height: 100vh;
    min-height: 650px;
    color: #fff;
    font-weight: bold;
    position: relative;
}

.hero__title-section {
    width: 46%;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 24px 0 45px 0;
}

.hero__main-title {
    font-size: 48px;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.hero__title-desc {
    font-size: 21px;
    margin-bottom: 57px;
    font-weight: normal;
}