.order-section {
    background: url('/images/bg/surfer.png') center top 25% / cover no-repeat;
    background-color: #2B2B2B;
    height: 100vh;
    min-height: 650px;
    color: #fff;
    font-weight: normal;
    position: relative;
}

.order-section__title {
    color: #fff;
}